<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdmp.clipserver">

    <permission android:name="sdmp.project5.services.musicplayer.GEN_ID"></permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ServerService"
            android:enabled="true"
            android:exported="true"
            android:permission="sdmp.project5.services.musicplayer.GEN_ID">
            <intent-filter>
                <action android:name="sdmp.project5.services.musicplayer.MusicPlayer" />
            </intent-filter>
        </service>
    </application>

</manifest>